---
layout: base
---

<div class="home">
    <ul class="post-list">
        {% for episode in site.data.episodes %}
        <li>
            <span>{{ episode.date | date: "%-d %b %Y" }}</span>
            <h3 class="post-title">
                <a class="post-link" href="https://youtu.be/{{ episode.youtube }}">
                    {{ episode.title | escape }}
                </a>
            </h3>
            <span class="post-cmdr">{{ episode.cmdr[0] }}</span>
            {% for c in episode.cmdr offset:1 %}
                <span class="post-meta">, </span>
                <span class="post-cmdr">{{ c }}</span>
            {% endfor %}
            <br>
            <span><a href="https://youtu.be/{{ episode.youtube }}">🔊 YouTube</a></span>
            <span>|</span>
            <span><a href="https://community.elitedangerous.com/fr/galnet/{{ episode.date | date: '%d-%b-%Y' }}">📰 Elite</a></span>
            <span>|</span>
            <span><a href="{{ episode.galnet }}">📰 Galnet FR</a></span>
        </li>
        {% endfor %}
    </ul>
</div>